{% macro linkPreview(url, type, title, description, image, icon) %}
<div class="link-preview link-preview--{{ type }}">
    {% if image %}
    <div class="link-preview__image">
        <img src="{{ image }}" alt="{{ title }}" loading="lazy">
    </div>
    {% endif %}
    <div class="link-preview__content">
        {% if icon %}
        <div class="link-preview__icon">
            <img src="{{ icon }}" alt="{{ type }} icon" width="16" height="16">
        </div>
        {% endif %}
        <h3 class="link-preview__title">{{ title }}</h3>
        {% if description %}
        <p class="link-preview__description">{{ description }}</p>
        {% endif %}
        <div class="link-preview__url">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                <polyline points="15 3 21 3 21 9"></polyline>
                <line x1="10" y1="14" x2="21" y2="3"></line>
            </svg>
            <span>{{ url | replace("https://", "") | replace("http://", "") }}</span>
        </div>
    </div>
</div>
{% endmacro %}
